@import "./Variable.scss";
@import "~@janda-com/front/build/scss/style_config.scss";
@import "~@janda-com/front/build/scss/components/Slider.scss";
@import "~@janda-com/front/build/scss/components/CheckBox.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./ClausePolicy.scss";
@import "./top_btn.scss";

body {
  margin: 0;
  min-width: 320px;
}

#none {
  display: none;
}

.Main {
  #mainvisual {
    .mainvisual {
      // background: url(img/mainvisual_img2.png) no-repeat 88% center/32%;
      //width: 100%;
      //text-align: left;
      // @include resp( 1200px, 1080px) {
      //   background: url(img/mainvisual_img2.png) no-repeat 97% center/50% auto;
      //   height: 750px;
      // }
      // @include resp(1080px, 768px) {
      //   background: url(./img/mainvisual_img2.png) no-repeat center 290px/50%
      //     auto;
      //   height: 750px;
      //   text-align: center;
      // }
      // @include resp(768px, 640px) {
      //   background: url(./img/mainvisual_img2.png) no-repeat center 260px/65%
      //     auto;
      //   height: 700px;
      //   text-align: center;
      // }
      // @include resp(640px, 320px) {
      //   background: url(./img/mainvisual_img2.png) no-repeat center 230px/80%
      //     auto;
      //   height: 620px;
      //   text-align: center;
      // }
      .visual {
        height: 620px;
      }
      .JDslider .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        background-color: rgba(223, 157, 38, 0.5);
        border: none;
        width: 65px;
        height: 65px;
        border-radius: 100%;
        cursor: pointer;
        svg {
          width: 32px;
        }
      }
      .slick-prev {
        left: 15%;
        transition: all 0.3s;
      }
      .slick-prev:hover {
        left: 14.5%;
      }
      .slick-next {
        right: 15%;
        transition: all 0.3s;
      }
      .slick-next:hover {
        right: 14.5%;
      }
      ul {
        position: absolute;
        bottom: 30px;
        li {
          margin: 0 12px;
        }
        .slick-active > button:before {
          background-color: #fff;
          width: 25px;
          height: 3px;
          border-radius: 0;
        }
        button:before {
          background-color: #df9d26;
          width: 25px;
          height: 3px;
          border-radius: 0;
        }
      }
      .slide1 {
        background: linear-gradient(
          30deg,
          #df9d26 0%,
          #efd252 50%,
          #f8e79d 100%
        );
        position: relative;
        .visual_txt {
          display: block;
          color: #fff;
          font-size: 36px;
          letter-spacing: 2.6px;
          padding-top: 82px;
          text-shadow: 0px 2px 7px #df9d26;
        }
        img {
          position: absolute;
          top: 50%;
          right: 50%;
          margin-top: -92px;
          margin-right: -500px;
          // transform: translate(-76%, -35%);
        }
      }
      .slide2 {
        font-size: 46px;
        color: #fff;
        position: relative;
        text-shadow: 0px 2px 7px #df9d26;
        font-weight: 300;
        .round {
          width: 480px;
          height: 480px;
          border-radius: 100%;
          background-color: rgba(223, 157, 38, 0.5);
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -240px;
          margin-left: -240px;
        }
        span {
          display: block;
        }
        .visual_txt1 {
          background-color: #efd252;
          width: 30%;
          height: 620px;
          text-align: left;
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 120px;
          padding-left: 20%;
          .kakao_link {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            color: #fff;
            z-index: 100;
            width: 200px;
            height: 40px;
            border-radius: 3px;
            margin-top: 46px;
            border: 2px solid #fff;
            text-align: center;
            text-shadow: none;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
          }
          .kakao_link::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: -1;
            position: absolute;
            top: -40px;
            left: 0;
            transition: all 0.3s;
          }
          .kakao_link:hover {
            color: #efd252;
          }
          .kakao_link:hover::before {
            top: 0;
          }
        }
        .visual_txt2 {
          width: 30%;
          height: 620px;
          color: #555;
          text-shadow: none;
          text-align: right;
          position: absolute;
          top: 0;
          right: 0;
          padding-top: 120px;
          padding-right: 20%;
          z-index: 2;

          .google_btn {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            color: #555;
            z-index: 100;
            width: 200px;
            height: 40px;
            border-radius: 3px;
            margin-top: 46px;
            border: 1px solid #555;
            text-align: center;
            text-shadow: none;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            float: right;
          }
          .google_btn::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #df9d26;
            z-index: -1;
            position: absolute;
            top: -40px;
            right: 0;
            transition: all 0.3s;
          }
          .google_btn:hover {
            border: 1px solid #df9d26;
            color: #fff;
          }
          .google_btn:hover::before {
            top: 0;
          }
        }
        .sub_txt {
          margin-top: 24px;
          font-size: 16px;
        }
      }
    }
  }
  #container {
    .row_tit {
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      color: #333;
      margin-bottom: 52px;
      position: relative;
      @include resp(1200px, 1080px) {
        font-size: 36px;
        margin-bottom: 32px;
      }
      @include resp(1080px, 768px) {
        font-size: 30px;
        letter-spacing: -2px;
        margin-bottom: 30px;
      }
      @include resp(768px, 640px) {
        font-size: 28px;
        letter-spacing: -2px;
        margin-bottom: 24px;
      }
      @include resp(640px, 320px) {
        font-size: 26px;
        letter-spacing: -2.5px;
        margin-bottom: 20px;
      }
    }
    .row_txt {
      font-size: 20px;
      line-height: 35px;
      text-align: center;
      color: #333;
      margin-bottom: 65px;
      @include resp(1200px, 1080px) {
        margin-bottom: 52px;
      }
      @include resp(1080px, 768px) {
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 46px;
      }
      @include resp(768px, 640px) {
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 46px;
      }
      @include resp(640px, 320px) {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 40px;
        letter-spacing: -1px;
      }
    }

    .row1 {
      background-color: #f2f4f9;
      padding: 160px 3% 0;
      @include resp(1200px, 1080px) {
        padding: 150px 3% 0;
      }
      @include resp(1080px, 768px) {
        padding: 150px 3% 0;
      }
      @include resp(768px, 640px) {
        padding: 130px 3% 0;
      }
      @include resp(640px, 320px) {
        padding: 130px 3% 0;
      }
      .row_tit::before {
        content: "SYSTEM";
        display: bolck;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        font-weight: 300;
        opacity: 0.2;
        @include resp(1200px, 1080px) {
          font-size: 28px;
          top: -56px;
        }
        @include resp(1080px, 768px) {
          font-size: 26px;
          top: -52px;
        }
        @include resp(768px, 640px) {
          font-size: 24px;
          top: -48px;
        }
        @include resp(640px, 320px) {
          font-size: 24px;
          top: -48px;
        }
      }
      .info_wrap {
        text-align: center;
        position: relative;
        .slick-prev {
          position: absolute;
          top: 50%;
          left: 10%;
          margin-top: -175px;
          width: 60px;
          height: 350px;
          display: block;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          cursor: pointer;
          @include resp(1080px, 768px) {
            left: 3%;
          }
          @include resp(768px, 640px) {
            left: 3%;
          }
          @include resp(640px, 320px) {
            left: 2%;
          }
          svg {
            width: 20px;
            @include resp(640px, 320px) {
              width: 14px;
            }
          }
        }
        .slick-list {
          .tit {
            font-size: 26px;
            margin-bottom: 10px;
            color: #333;
            font-weight: 500;
            @include resp(1200px, 1080px) {
              font-size: 22px;
            }
            @include resp(1080px, 768px) {
              font-size: 20px;
            }
            @include resp(768px, 640px) {
              font-size: 20px;
            }
            @include resp(640px, 320px) {
              font-size: 20px;
            }
            span {
              color: #df9d26;
              font-weight: 600;
            }
          }
          .txt {
            font-size: 20px;
            font-weight: 300;
            color: #555;
            @include resp(1200px, 1080px) {
              font-size: 18px;
            }
            @include resp(1080px, 768px) {
              font-size: 16px;
            }
            @include resp(768px, 640px) {
              font-size: 16px;
            }
            @include resp(640px, 320px) {
              font-size: 16px;
            }
          }
          .cont {
            padding: 152px 18px 0;
            height: 800px;
            overflow: hidden;
            @include resp(1200px, 1080px) {
              padding: 120px 18px 0;
              height: 600px;
            }
            @include resp(1080px, 768px) {
              padding: 100px 18px 0;
              height: 480px;
            }
            @include resp(768px, 640px) {
              padding: 100px 18px 0;
              height: 480px;
            }
            @include resp(640px, 320px) {
              padding: 100px 18px 0;
              height: 400px;
            }
            .go_btn {
              display: inline-block;
              padding: 12px 36px;
              border-radius: 5px;
              margin-bottom: 32px;
              font-size: 16px;
              line-height: 1.2em;
              font-weight: 300;
              letter-spacing: 1px;
              background-color: #fff;
              border: 1px solid #ddd;
              box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
              color: #555;
              cursor: pointer;
              @include resp(1080px, 768px) {
                font-size: 14px;
                padding: 10px 30px;
                margin-bottom: 42px;
              }
              @include resp(768px, 640px) {
                font-size: 14px;
                padding: 10px 30px;
                margin-bottom: 42px;
              }
              @include resp(640px, 320px) {
                font-size: 14px;
                padding: 10px 30px;
                margin-bottom: 22px;
              }
              span {
                @include resp(640px, 320px) {
                  display: none;
                }
              }
            }
            img {
              display: block;
              margin: 0 auto;
              @include resp(1200px, 1080px) {
                width: 75%;
              }
              @include resp(1080px, 768px) {
                width: 86%;
              }
              @include resp(768px, 640px) {
                width: 96%;
              }
              @include resp(640px, 320px) {
                width: 96%;
              }
            }
          }
        }
        .slick-next {
          position: absolute;
          top: 50%;
          right: 10%;
          margin-top: -175px;
          width: 60px;
          height: 350px;
          display: block;
          border: none;
          background-color: rgba(0, 0, 0, 0);
          cursor: pointer;
          @include resp(1080px, 768px) {
            right: 3%;
          }
          @include resp(768px, 640px) {
            right: 3%;
          }
          @include resp(640px, 320px) {
            right: 2%;
          }
          svg {
            width: 20px;
            @include resp(640px, 320px) {
              width: 14px;
            }
          }
        }

        ul {
          position: absolute;
          top: 142px;
          left: 50%;
          transform: translateX(-50%);
          @include resp(1200px, 1080px) {
            top: 106px;
          }
          @include resp(1080px, 768px) {
            top: 90px;
          }
          @include resp(768px, 640px) {
            top: 92px;
          }
          @include resp(640px, 320px) {
            top: 92px;
          }
          li {
            display: inline-block;
            margin: 0 20px;
            position: relative;
            button {
              width: 50px;
              height: 50px;
              font-size: 18px;
              font-weight: bold;
              border-radius: 50%;
              cursor: pointer;
              color: #df9d26;
              border-color: #fff;
              background-color: #fff;
              border-width: 0;
              box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
              @include resp(1200px, 1080px) {
                width: 42px;
                height: 42px;
              }
              @include resp(1080px, 768px) {
                width: 40px;
                height: 40px;
              }
              @include resp(768px, 640px) {
                width: 40px;
                height: 40px;
              }
              @include resp(640px, 320px) {
                width: 40px;
                height: 40px;
              }
            }
            button::before {
              display: none;
            }
          }
          .slick-active {
            button {
              color: #fff;
              background-color: #df9d26;
            }
          }
        }
      }
    }

    .row2 {
      padding: 210px 3% 90px;
      position: relative;
      @include resp(1200px, 1080px) {
        padding: 150px 3% 90px;
      }
      @include resp(768px, 640px) {
        padding: 130px 3% 60px;
      }
      @include resp(640px, 320px) {
        padding: 130px 3% 60px;
      }
      .row_tit::before {
        content: "PRODUCT";
        display: bolck;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        font-weight: 300;
        opacity: 0.2;
        @include resp(1200px, 1080px) {
          font-size: 28px;
          top: -56px;
        }
        @include resp(1080px, 768px) {
          font-size: 26px;
          top: -52px;
        }
        @include resp(768px, 640px) {
          font-size: 24px;
          top: -48px;
        }
        @include resp(640px, 320px) {
          font-size: 24px;
          top: -48px;
        }
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        dt {
          cursor: pointer;
          width: calc(25% - 30px);
          margin: 0 15px 60px;
          overflow: hidden;
          position: relative;
          @include resp(1200px, 1080px) {
            width: calc(50% - 30px);
            margin: 0 15px 60px;
          }
          @include resp(1080px, 768px) {
            width: calc(50% - 30px);
            margin: 0 15px 50px;
          }
          @include resp(768px, 640px) {
            width: 100%;
            margin: 0 70px 50px;
          }
          @include resp(640px, 320px) {
            width: 100%;
            margin: 0 70px 50px;
          }
          img {
            width: 100%;
          }
          .tit {
            display: block;
            width: 100%;
            height: auto;
            padding: 50px 0 20px 24px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.8);
            background: linear-gradient(
              180deg,
              transparent,
              rgba(0, 0, 0, 0.8)
            );
            position: absolute;
            bottom: 0;
            left: 0;
          }
          .new {
            display: block;
            font-size: 12px;
            color: #fff;
            padding: 2px 10px;
            background-color: #fd2020;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
            opacity: 0.9;
            border-radius: 3px;
            position: absolute;
            left: 24px;
            animation-name: new;
            animation-duration: 0.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
          }
          @keyframes new {
            0% {
              top: 6%;
            }
            100% {
              top: 8%;
            }
          }
        }
        .clickShow {
          width: 100%;
          height: 0;
          padding: 0 30px;
          background-color: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          margin-inline-start: 15px;
          margin-inline-end: 15px;
          margin-top: -60px;
          position: relative;
          transition: all 0.5s ease-in;
          &.clickShow__open {
            height: 500px;
            padding: 30px;
            margin-bottom: 45px;
          }
          .c_tit {
            color: #333;
            font-size: 20px;
            font-weight: 500;
          }
          .c_tag {
            display: flex;
            justify-content: start;
            padding: 14px 0 26px;
            p {
              font-size: 12px;
              font-weight: 400;
              color: #888;
              background-color: #fff;
              border: 1px solid #d8d8d8;
              display: block;
              padding: 2px 18px;
              margin: 0 12px 0 0;
              border-radius: 20px;
              cursor: default;
              transition: all 0.2s ease-in;
            }
            p:hover {
              box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.07);
            }
          }
          .more_wrap {
            position: absolute;
            top: 46px;
            right: 40px;
            .more_txt {
              display: blcok;
              width: 0px;
              height: 40px;
              text-align: left;
              border-bottom-left-radius: 20px;
              border-top-left-radius: 20px;
              color: #fff;
              font-size: 16px;
              line-height: 40px;
              font-weight: 500;
              letter-spacing: 1px;
              padding-left: 20px;
              background-color: #efd252;
              overflow: hidden;
              position: absolute;
              top: 0;
              right: 40px;
              z-index: 20 !important;
              transition: all 0.6s;
            }
            .moreIcon::before {
              content: "";
              display: block;
              width: 20px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -1px;
              margin-left: -10px;
              transition: all 0.3s;
            }
            .moreIcon {
              display: block;
              width: 40px;
              height: 40px;
              font-size: 40px;
              font-weight: 300;
              line-height: 38px;
              color: #fff;
              border-radius: 20px;
              text-align: center;
              background-color: #df9d26;
              position: absolute;
              top: 0;
              right: 20px;
              text-indent: -9999px;
              z-index: 30 !important;
            }
            .moreIcon::after {
              content: "";
              display: block;
              width: 20px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -1px;
              margin-left: -10px;
              transition: all 0.3s;
            }
          }
          .more_wrap:hover .more_txt {
            width: 126px;
          }
          .more_wrap:hover .moreIcon::before {
            transform: rotate(90deg);
          }
          .more_wrap:hover .moreIcon::after {
            transform: rotate(180deg);
          }
          .c_txt {
            display: block;
            color: #555;
            font-size: 14px;
            height: 100px;
            overflow-y: scroll;
            p {
              margin-block-start: 0;
              margin-block-end: 0;
            }
            .txt1 {
              color: #df9d26;
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 6px;
            }
          }
          .c_img {
            margin-top: 36px;
            display: flex;
            justify-content: flex-start;
            span {
              display: flex;
              justify-content: center;
              align-self: center;
              width: 330px;
              height: auto;
              overflow: hidden;
              margin-right: 20px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .banner {
      margin: 106px 0;
      @include resp(1200px, 1080px) {
        margin: 150px 0 106px;
      }
      a {
        display: block;
        margin: 0 12%;
        position: relative;
        @include resp(1200px, 1080px) {
          margin: 0 5%;
        }
        @include resp(1084px) {
          margin: 0 3%;
        }
        @include resp(768px, 640px) {
        }
        @include resp(640px, 320px) {
        }
        span {
          display: block;
        }
        .bn_inner {
          background-color: #ffcd00;
          border-radius: 5px;
          height: 200px;
          @include resp(1084px) {
            height: 500px;
          }
          @include resp(768px, 640px) {
            height: 445px;
          }
          @include resp(500px, 320px) {
            height: 360px;
          }
          .bn_img {
            width: 470px;
            position: absolute;
            bottom: 0px;
            left: 3%;
            @include resp(1200px, 1080px) {
              width: 420px;
              left: 5%;
            }
            @include resp(1084px) {
              width: 380px;
              left: 50%;
              margin-left: -190px;
            }
            @include resp(500px, 320px) {
              width: 300px;
              margin-left: -150px;
            }
            img {
              width: 100%;
            }
          }
          .bn_txt {
            position: absolute;
            top: 20%;
            right: 12%;
            color: #333;
            font-size: 20px;
            text-align: right;
            @include resp(1200px, 1080px) {
              right: 8%;
            }
            @include resp(1084px) {
              text-align: center;
              top: 40px;
              right: 50%;
              transform: translateX(50%);
            }
            @include resp(768px, 640px) {
              width: 100%;
              font-size: 16px;
            }
            @include resp(500px, 320px) {
              width: 100%;
              font-size: 14px;
            }
            .txt_open {
              font-size: 32px;
              margin-bottom: 6px;
              @include resp(1084px) {
                margin-bottom: 4px;
              }
              @include resp(768px, 640px) {
                font-size: 24px;
              }
              @include resp(500px, 320px) {
                font-size: 20px;
              }
            }
            .link {
              display: inline-block;
              padding: 6px 24px;
              background-color: #333;
              color: #ffcd00;
              border-radius: 3px;
              font-size: 14px;
              margin-top: 10px;
              @include resp(1084px) {
                margin-top: 22px;
              }
            }
          }
        }
      }
    }
  }
}
